<mat-toolbar color="primary">
  <span>
    <img src="https://openweathermap.org/img/wn/02d@2x.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
    {{title}}
  </span>
  <span class="spacer"></span>
  <button mat-icon-button>
    <mat-icon>refresh</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>share</mat-icon>
  </button>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</mat-toolbar>