<mat-form-field>
  <input matInput placeholder="City" #cityCtrl (keydown.enter)="search(cityCtrl.value)">
</mat-form-field>
<div class="row mb-4">
  <div class="col-lg-3 col-md-6 col-sm-12 mt-2">
    <mat-card *ngIf="weather">
      <mat-card-title>
        {{weather.name}}, {{weather.sys.country}}
      </mat-card-title>
      <mat-card-subtitle>
        {{weather.weather[0].main}}
      </mat-card-subtitle>
      <mat-card-subtitle>
        {{date | date:'fullDate'}}
      </mat-card-subtitle>
      <img mat-card-image src="https://openweathermap.org/img/wn/{{weather.weather[0].icon}}@2x.png" alt="weather.weather[0].main">
      <mat-card-content>
        <h1>{{weather.main.temp | number:'1.0-0'}} &#8451;</h1>
        <p>Pressure: {{weather.main.pressure}} Pa</p>
        <p>Humidity: {{weather.main.humidity}} %</p>
        <p>Wind: {{weather.wind.speed}} m/s</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 mt-2" *ngFor="let forecast of forecasts">
    <mat-card *ngIf="weather">
      <mat-card-title>
        {{weather.name}}, {{weather.sys.country}}
      </mat-card-title>
      <mat-card-subtitle>
        {{forecast.weather[0].main}}
      </mat-card-subtitle>
      <mat-card-subtitle>
        {{forecast.dt * 1000 | date:'fullDate'}}
      </mat-card-subtitle>
      <img mat-card-image src="https://openweathermap.org/img/wn/{{forecast.weather[0].icon}}@2x.png" alt="weather.weather[0].main">
      <mat-card-content>
        <h1>{{forecast.temp.day | number:'1.0-0'}} &#8451;</h1>
        <p>Pressure: {{forecast.pressure}} Pa</p>
        <p>Humidity: {{forecast.humidity}} %</p>
        <p>Wind: {{forecast.wind_speed}} m/s</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
